
body {
    background: #0b1d3a;
    color: white;
    font-family: Arial;
    text-align: center;
}
input, button {
    margin: 10px;
    padding: 10px;
}
button {
    background: #4da6ff;
    border: none;
}
